[Unit]
Description=Wacli WhatsApp Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory={{ app_dir }}/server
ExecStart={{ app_dir }}/server/wacli
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
